<div class="container">
	<h1>New entry</h1>
	<form name="CreateForm" class="form-group jumbotron" ng-submit="createEntry()">
		<label for="title">Title</label>
		<input type="text" class="form-control" name="title" id="title" ng-model="createData.title" placeholder="Title">
		<label for="text">Text</label>
		<input type="text" class="form-control" name="text" id="text" ng-model="createData.text" placeholder="Text">
		<button class="btn btn-primary">Create</button>
		<p class="error" ng-if="error">Fill both spaces!</p>
	</form>
</div>